<!-- Minify to save ram. Double brackets for cpy formatting -->
<html><head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<style>
body {{
background-color: #2b2f3a;
color: white;
font-family: 'M PLUS 1 Code', 'Trebuchet MS', Arial, sans-serif;
padding: 20px;
}}
div {{
border: 3px ridge #1F2230;
border-radius: 12px;
margin-bottom: 20px;
padding: 10px;
background-color: #34374a;
}}
table {{
width: 100%;
border: 3px ridge #1F2230;
border-radius: 12px;
font-size: 1.3rem
}}
th, td {{
border: 3px ridge #1F2230;
padding: 8px;
text-align: left;
}}
th {{
font-weight: bold;
}}
.input-label {{
display: inline-block;
width: 180px;
padding-bottom: 0.4rem;
padding-top: 0.4rem;
font-weight: bold;
margin: 0.5rem;
background: linear-gradient(160deg, #FFFFFF, #87ceebCC, #00000000);
color: black;
z-index: 1;
position: relative;
}}
input[type="text"], input[type="password"], input[type="number"] {{
width: 100%;
padding: 10px;
border: 3px ridge #1F2230;
text-align: right;
background-color: #555;
color: white;
border-radius: 10px;
margin-bottom: 1rem;
padding-top: 1rem;
margin-top: -1.4rem;
font-size: 1.5rem;
}}
input[type="submit"], button {{
width: 100%;
padding: 10px;
font-size: 1.3rem;
font-weight: bold;
border-radius: 15px;
background: linear-gradient(160deg, #38ceff, #87ceeb);
border: 3px ridge #FFF;
cursor: pointer;
transition: background-color 0.3s ease;
}}
input[type="submit"]:hover , button:hover{{
background: linear-gradient(160deg, #b2ecff, #225b73);
}}
h1 {{
font-family: 'Orbitron', 'Trebuchet MS', Arial, sans-serif;
font-size: 26px;
margin-bottom: 10px;
color: #5efb81;
border-bottom: 2px solid #555;
display: inline-block;
padding-bottom: 10px;
}}
h2 {{
font-size: 18px;
margin-bottom: 20px;
}}
.column {{
width: 42%;
float: left;
margin-right: 2%;
}}
.column:last-child {{
margin-right: 0;
}}
small {{
font-size: 0.6rem;
}}
</style></head><body>
<h1 style="text-shadow: 2px 2px 20px #add8e6;">ScentSentry</h1>  <!-- Updated shadow here -->
<h2>An attempt at an improvement on <a  style="color: green;" href="https://hackaday.com/2023/08/17/litter-box-sensor-lets-you-know-exactly-what-the-cats-been-up-to/">Owen Ashurst's smart catbox monitor</a>, but written in CircuitPython, running on a Raspberry Pi Pico W and using an Inland CCS811 sensor. </h2>
<div><table><thead><tr>
<th>State</th><th>Average TVOC</th><th>CO2</th><th>Total Volatile Organic Compounds</th><th>Light Sensor<br><small>(0-65535)</small></th>
</tr></thead><tbody><tr>
<td>{smell_state}</td><td>{sum(tvoc_history) / len(tvoc_history)} ppb</td><td>{ccs.eco2} ppm</td><td>{ccs.tvoc} ppb</td><td>{photocell.value}</td>
</tr></tbody></table></div><div>
<form action="/update" method="post">
<div class="column">
<div class="input-label">Low:</div> <input type="number" step="1" min="0" max="65535" name="low" value="{low_thr}"><br>
<div class="input-label">Medium:</div> <input type="number" step="1" min="0" max="65535" name="medium" value="{med_thr}"><br>
<div class="input-label">High:</div> <input type="number" step="1" min="0" max="65535" name="high" value="{high_thr}"><br>
<div class="input-label">Very High:</div> <input type="number" step="1" min="0" max="65535" name="veryhigh" value="{veryhigh_thr}"><br>
<div class="input-label">Alert:</div> <input type="number" step="1" min="0" max="65535" name="alert" value="{alert_thr}"><br>
<div class="input-label">Alarm:</div> <input type="number" step="1" min="0" max="65535" name="alarm" value="{alarm_thr}"><br>
</div><div class="column">
<div class="input-label">Neopixel Brightness:</div> <input type="number" step="any" min="0.01" max="1" name="brightness" value="{neo_bright}"><br>
<div class="input-label">Neopixel Dim Brightness:</div> <input type="number" step="any" min="0.01" max="1" name="brightness_dim" value="{neo_bright_dim}"><br>
<div class="input-label">Update Delay:</div> <input type="number" step="any" name="delay" min="0" max="6000" value="{update_delay}"><br>
<div class="input-label">History Size:</div> <input type="number" step="1" min="2" max="50" name="history" value="{history_size}"><br>
</div><div class="column">
<div class="input-label">Wifi SSID:</div> <input type="text" name="wifi-ssid" value="{wifi_ssid}"><br>
<div class="input-label">Wifi Password:</div> <input type="password" name="wifi-pwd" value="{wifi_pass}"><br>
</div><div class="column">
<div class="input-label">MQTT Host:</div> <input type="text" name="mqtt-host" value="{mqtt_host}"><br>
<div class="input-label">MQTT Port:</div> <input type="number" step="1" min="1" max="65535" name="mqtt-port" value="{mqtt_port}"><br>
<div class="input-label">MQTT User:</div> <input type="text" name="mqtt-user" value="{mqtt_user}"><br>
<div class="input-label">MQTT Password:</div> <input type="password" name="mqtt-pass" value="{mqtt_pass}"><br>
</div><div class="column">
<div class="input-label">Device User:</div> <input type="text" name="server-user" value="{server_user}"><br>
<div class="input-label">Device Password:</div> <input type="password" name="server-pass" value="{server_pass}"><br>
</div><div class="column">
<br><a style="color: red">{ui_storage_error}</a><br><br>
<input type="submit" value="Update">
<button onclick="location.href='/reset'" type="button">Reset</button>
<button onclick="location.href='/reboot'" type="button">Reboot</button>
</div><div style="clear: both; padding-top: 20px;">
</div></form></div></body></html>